<div class="banner container mt-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : image_path('default.jpg') %>)">>
  <h1><%= @list.name %></h1>
</div>
  <% @list.bookmarks.each do |bookmark| %>
    <p><%= bookmark.comment %></p>
    <p><%= bookmark.movie.title %></p>
  <% end %>
  <%= link_to "Back to index", :lists , class:'btn btn-primary mt-2'%>
</div>
<%= link_to "Add Bookmark", new_list_bookmark_path(@list) , class: 'btn btn-primary mt-2' %>
